@import 'styles/core/_variables.sass'

.resume
    width: 100%
    flex-grow: 1
    padding: 0 15px
    background-color: $graySecondary
    font-size: 10px

    &__sheet
        width: 1000px
        max-width: 100%
        margin: 15px auto 0 auto
        padding: 10px
        background-color: $light
        border: 1px solid rgba(0, 0, 0, 0.1)

    &__title
        margin: 0
        margin-bottom: 1em
        padding: 0
        font-size: 2.4em

    &__subtitle
        margin: 14px 0 10px 0
        padding: 0
        font-size: 1.6em

    &__footerLine
        margin: 16px 0 5px 0
    
    & p
        margin: 0
        padding: 0
        font-size: 1.6em

    & ul li
        margin: 0
        padding: 0
        font-size: 1.6em
    
    & a
        color: #000