@import 'styles/core/_variables.sass'

.works
    flex-grow: 1

.workList
    width: 100%
    max-width: 1896px
    min-height: 500px
    margin: 0 auto

    @media screen and (min-width: 550px)
        display: flex
        justify-content: flex-start
        flex-wrap: wrap