@import 'styles/core/_variables.sass'

.page
    height: 100%
    background-color: $dark

.pageContent
    display: flex
    flex-direction: column
    max-width: 1896px
    height: 100%
    margin: 0 auto