@import 'styles/core/_variables.sass'

.workItem
    display: flex
    justify-content: flex-start
    align-items: center
    width: 100%
    min-height: 200px
    max-height: 400px
    overflow: hidden

    &__imageContainer
        width: 30%
        height: 100%
        overflow: hidden

    &__image
        height: 100%
        width: 100%