@import 'styles/core/_variables'

.mainHome
    display: flex
    flex-direction: column
    justify-content: center
    flex-grow: 1
    padding: 0 19px

.mainHeadingWrapper
    display: flex
    justify-content: space-between

    &__titles
        display: flex
        flex-direction: column
        align-items: flex-start

.mainIcons
    display: flex
    flex-direction: column
    justify-content: center

.mainTitle
    margin: 0
    margin-right: 20px
    padding: 0
    color: $gray-title
    font-size: 64px

.mainSubtitle
    margin: 0
    margin-bottom: 8px
    padding: 0
    color: $gray-title
    font-size: 32px